<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="all">
            <directory suffix="_test.php">tests/unit</directory>
            <directory suffix="_test.php">tests/integration</directory>
            <directory suffix="_test.php">tests/http</directory>
            <directory suffix="_test.php">tests/https</directory>
        </testsuite>
        <testsuite name="stack">
            <directory suffix="_test.php">tests/unit</directory>
            <directory suffix="_test.php">tests/integration</directory>
            <directory suffix="_test.php">tests/http</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="_test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="_test.php">tests/integration</directory>
        </testsuite>
        <testsuite name="http">
            <directory suffix="_test.php">tests/http</directory>
        </testsuite>
        <testsuite name="https">
            <directory suffix="_test.php">tests/https</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
